img {
	max-width: 100%;
	height: auto;
}

blockquote {
	background: #d9d9ff;
	border-left: 1px dashed #ccc;
	margin: 30px;
	padding: 30px;
}

body {
        padding-top: 0px !important;
        color: rgb(100, 100, 100);
        font-style: normal;
        font-family: 'Noto Sans','Lato',sans-serif !important;
}

pre {
	margin-left: 1em;
	margin-right: 1em;
}

table {
	border-collapse: collapse;
	border: 1px solid;
}

th {
	border: 2px solid;
	padding:10px;
	background: #d9d9ff;
}

td {
	border: 1px dotted black;
	padding:15px;
	width:100px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}


tr:nth-child(odd) {
  background-color: #ffffff;
}
