img {
	max-width: 100%;
	height: auto;
}

blockquote {
	background: #d9d9ff;
	border-left: 1px dashed #ccc;
	margin: 30px;
	padding: 30px;
}

body {
        padding-top: 0px !important;
        color: rgb(100, 100, 100);
        font-style: normal;
        font-family: 'Noto Sans','Lato',sans-serif !important;
}

pre {
	margin-left: 1em;
	margin-right: 1em;
}

