@font-face {
font-family: NotoSans;
font-style: normal;
font-weight: normal;
src:url("NotoSans-Regular.ttf");
}
@font-face {
font-family: NotoSans;
font-style: normal;
font-weight: bold;
src:url("NotoSans-Bold.ttf");
}
@font-face {
font-family: NotoSans;
font-style: italic;
font-weight: normal;
src:url("NotoSans-Italic.ttf");
}
@font-face {
font-family: NotoSans;
font-style: italic;
font-weight: bold;
src:url("NotoSans-BoldItalic.ttf");
}
body { font-family: "Noto Sans"; }

